/* ================================= 
  Base Element Styles
==================================== */

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-overflow-scrolling : touch !important;
    touch-action: manipulation;
}

body {
    margin: 0px; padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em; line-height: 1.5; color: #555;
    background-color: #f9f9f9;
}

*, *:focus, *:hover {
    outline: 0;	outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.center { text-align: center; }

input, select {
    font-family: 'Roboto', sans-serif;
    width: 100%; height: 30px; text-indent: 5px;
    margin-bottom: 10px; border: 1px #ccc solid;
    border-radius: 3px; margin-top: 3px;
    font-size: 0.9rem;
}

.button2 {
    text-align: center; margin: 5px auto;
    height: 35px; line-height: 35px; width: 50%; transition: 0.25s;
    background-color: #2196f3; font-size: 1.2em; padding: 0px 10px;
    cursor: pointer; color: #fff; border-radius: 3px;
}

.button2:hover {
    transition: 0.25s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
		margin: 0;
}

.main-nav {
	margin-top: 5px;
	
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: grey;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* modal */
.modal {
	position: fixed; 
	display: flex;
	width: 100%; 
	height: 100vh; 
	z-index: 101;
    background-color: rgba(0, 0, 0, 0.1); 
    justify-content: center;
    align-items: center;
}

.mcontent {
	flex: 1;
	border-radius: 3px; 
	max-width: 360px;
	padding: 5px;
    background-color: #d9e4ea;
}

.mtitle {
    color: #fff; cursor: default;
    padding: 0px 5px 5px 5px; 
}

.mtitle i { 
	float: right;
	cursor: pointer;
	transition: 0.25s;
	font-size: 1.25em;
}

.mtitle i:hover {
	transition: 0.25s;
	color: #777;
}


.mhtml {
	width: 100%;
	background-color: #fff;
	min-height: 100px;
	padding: 10px;
    font-size: 0.9em;
}

.mhtml p {
    margin: 0px;
    color: #1616ca;
    padding-bottom: 10px;
}


/* ---- Layout Containers ---- */
main {
	padding: 2em 0;
	margin: 100px;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	position: fixed;
	top: 0;
	background: #f7f5f0;
	/*width: 100%; */
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	/* background: url('img/seamless-hipster.jpg') no-repeat top center; */
	background: #3acec2; 
	padding: 1.8em 0;
	margin-bottom: 32px;
	height: 200px;
	padding-top: 60px;
	margin-top: 100px;
} 

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.headline {
	margin-bottom: 0;
}

.flex {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 100px;
}

.cart-tab {
  display: flex;       
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
}

.cart-tab.header {
  background-color: #FFEEDB;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.text {
	
  flex-grow: 1;            
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 180px;

}

.num {
	width: 80px;
	text-align: right;
}

.button {
	float: right;
	margin-top: 5px;
}

#message div {
    display: none;
    cursor: default;
    font-size: 0.9em;
    border-radius: 3px;
    width: 100%; height: 40px;
    line-height: 40px; text-align: center;
}

.error {
    background-color: #fb9696;
    color: #962c2c;
}

.success {
    background-color: #9fca93;
    color: #5d8044;
}


.modal {
    position: fixed; 
	top: 0;
	left: 0;
	display: flex;
    width: 100%; height: 100vh; z-index: 101;
    background-color: rgba(0, 0, 0, 0.1); 
    justify-content: center;
    align-items: center;
}

.mcontent {
    flex: 1; border-radius: 3px; 
    max-width: 360px; padding: 5px;
    background-color: #2196f3;
}

.mtitle {
    color: #fff; cursor: default;
    padding: 0px 5px 5px 5px; 
}
.mtitle i { float: right; cursor: pointer; transition: 0.25s; font-size: 1.25em; }
.mtitle i:hover { transition: 0.25s; color: #777; }

.mhtml {
    width: 100%; background-color: #fff;
    min-height: 100px; padding: 10px;
    font-size: 0.9em;
}

.mhtml p {
    margin: 0px;
    color: #1616ca;
    padding-bottom: 10px;
}

.createAccount {
	text-decoration: underline;
}



/* ---- Card Elements ---- */
.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 300px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    flex: 1 200px;
}

.card h2 {
    font-family: "Roboto";
}

.card:hover {
    border-color: black;
}

/* ---- Page Elements ---- */
.page {
	display: absolute;
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 900px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
/*     flex: 1 200px;
 */}

.page h2 {
    font-family: "Roboto";
}

.page:hover {
    border-color: black;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}    



/*--- CSS for script ----*/
.showMainCat {
	margin-right: auto;
	color: white;
}
  
.mainCat {
	border: solid white 1px;
}
  
.subCatString {
	display: none;
	border: solid white 2px;
}

#navShowMainCat {
	display: flex;
	justify-content: space-around;
	
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	
	text-decoration: none;
	color: grey;
}

#navShowMainCat li {
	padding: 5px 10px 10px 10px;
}
	
#navShowMainCat li:hover ul {
	  display: block;
}

#navShowMainCat li ul {
	position: absolute;
	background-color: #fff;
	padding-left: 0;
	text-align: left;
	list-style-type: none; 
}

#navShowMainCat a:hover {
		color: grey;
}
  

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header {
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
}

@media (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
		
	}
	.main-header {
		flex-direction: column;
		align-items: center;
		
	}
}

@media (min-width: 1025px) {
	
	.main-header {
		flex-direction: row;
		justify-content: space-between;
		
	}
}