* { 
    box-sizing: border-box;
  }
  

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
  }

a {
    text-decoration: none;
    color: grey;
  }

a:hover {
    text-decoration: underline;
    color: #6633ff;
  }

.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    /* text-decoration: none;
    color: grey; */
  }

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    border: solid pink 1px;
    text-decoration: none;
    color: grey;
  }

  
/*huvudkategorierna från js-script*/
.mainCat {
  border: solid white 1px;
}

.subCatString {
  display: none;
  border: solid white 2px;
}
 
.nav .name {
    display: none;
  } 
 
.nav li {
    padding: 5px 10px 10px 10px;
  }

.nav li:hover ul {
  display: block;
  
}

ul {
  list-style-type: none;
  
}

/*för listor i listor i nav*/
.nav ul ul {
  position: absolute;
  background-color: black;
  text-align: left;
  list-style-type: none; 
}
.nav a:hover {
      color: grey;
  }

header {
    text-align: center;
    background: url('images/seamless-hipster.jpg') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    line-height: 1.5;
  }

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
  }

  .card h2 {
    font-family: "Roboto";
  }

  .card:hover {
    border-color: black;
  }

    
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    top: -8px;
    margin-right: 20px;
    font-size: .75em;
  }

  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  
  /* Styles for larger screens */
  @media screen and (min-width: 720px) {
    
    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }


header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
    
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

h3 {
    color: maroon;
    letter-spacing: .5px;
}

.card-title {
    text-align: center;
    border: solid black 3px;
    border-radius: 10px;
    margin-top: 50px;
}
